ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}


/* Month header */
.month {
  width: 100vw;
  background: #003366;
  text-align: center;
}

/* Month list */
.month ul {
  margin: 0vh;
  padding: 1vh;
}

.month ul li {
  color: white;
  font-size: 1.6vh;
  text-transform: uppercase;
  letter-spacing: .1vh;
}

.info {
  font-size: 1vh;
}

.kode {
  font-size: 1px;
  display: none;
}

/* Previous button inside month header */
.month .prev {
  position: absolute !important;
  float: left;
  font-size: 9vh;
  top: -1vh;
  left: 1vw;
  cursor: pointer;
}

/* Next button */
.month .next {
  position: absolute !important;
  float: right;
  font-size: 9vh;
  top: -1vh;
  right: 1vw;
  cursor: pointer;
}

/* Weekdays (Mon-Sun) */
.weekdays {
  width: 99vw;
  margin: 0;
  padding: .75vh .5vw;
  background-color:#ddd;
}

.weekdays li {
  display: inline-block;
  width: 12.8vw;
  margin: 0 0.5vw;
  color: black;
  text-align: center;
  font-size: 1.5vh;
}

/* Days (1-31) */
.days {
  padding: 1vh 0vh;
  background: #eee;
  padding: 0 .5vw;
  width: 99vw;
  display: hidden;
}

.days div{
  list-style-type: none;
  display: inline-block;
  width: 12.7%;
  margin: 0 0.55vw;
  text-align: center;
  height: 11.5vh;
  font-size:1.5vh;
  color: black;
  border: solid black .1vw;
  visibility: hidden;
}

.days div .active{
  list-style-type: none;
  display: inline-block;
  width: 100%;
  text-align: center;
  height: 2vh;
  padding: 0.1vh 0;
  font-size: 1.5vh;
  color: black;
}
/* Highlight the "current" day */
.days div .current {
  background: #003366;
  /*height: 18%;*/
  color: white !important 
}

.days div .reservation {
  margin: 0.5%;
  display: block;
  align-items: center;
  height: 76%;
  width: 98%;
  background: #eee;
  visibility: hidden;
}

.days div .Alugod {
  margin: 0.5%;
  display: block;
  align-items: center;
  height: 76%;
  width: 98%;
  background: red;
}

.days div .Sjangali {
  margin: 0.5%;
  display: block;
  align-items: center;
  height: 76%;
  width: 98%;
  background: #654321;
}

.days div .Herlev2 {
  margin: 0.5%;
  display: block;
  align-items: center;
  height: 76%;
  width: 98%;
  background: orangered;
}

.days div .Byspejderne {
  margin: 0.5%;
  display: block;
  align-items: center;
  height: 76%;
  width: 98%;
  background: pink;
}

.days div .Ballerup {
  margin: 0.5%;
  display: block;
  align-items: center;
  height: 76%;
  width: 98%;
  background: turquoise;
}

.days div .Skovlunde {
  margin: 0.5%;
  display: block;
  align-items: center;
  height: 76%;
  width: 98%;
  background: lightgreen;
}

.days div .Ravnehus {
  margin: 0.5%;
  display: block;
  align-items: center;
  height: 76%;
  width: 98%;
  background: purple;
}

.days div .Hjortespring {
  margin: 0.5%;
  display: block;
  align-items: center;
  height: 76%;
  width: 98%;
  background: darkgreen;
}

.days div .Mjølner {
  margin: 0.5%;
  display: block;
  align-items: center;
  height: 76%;
  width: 98%;
  background: yellow;
}


/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Full-width input fields */
.form-container select {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  color: #757575;
}

.form-container .dato {
  width: 25%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  color: #757575;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}